# Delphi compilados
*.dcu
*.exe
*.bpl
*.map
*.dcpil
*.~*
*.identcache
*.tvsconfig
*.local
*.dproj.local

# Runtime / gerados automaticamente
*.dll
*.log
*.ini
*.pdf

# Arquivos temporários
*.tmp
*.temp
*.bak
*.swp
*.cache
Thumbs.db
Desktop.ini
.DS_Store
