# Delphi compilados
*.dcu
*.dpu
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.dcpil
*.map
*.drc
*.rsm
*.stat

# Delphi temporários / histórico
__history/
*.~*
*.identcache
*.local
*.dsk
*.vlb

# Output do build
exe/

# IDE Delphi
*.dproj.local
*.deployproj
*.cbproj.local

# Claude Code
.claude/
